<nav class="navbar navbar-expand-md navbar-dark bg-dark py-0" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <div class="container">
        <a href="voting" class="navbar-brand"><img src="resources/images/icon-hand.png" th:text="' ' + #{app.title}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div sec:authorize="isAuthenticated()">
                        <form class="form-inline my-2" action="logout" method="post" th:action="@{/logout}">
                            <div sec:authorize="hasRole('ROLE_ADMIN')">
                                <div class="dropdown" style=" margin-right: 5px">
                                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="navbar-toggler-icon" style="height: 20px;"></span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="users" th:text="#{user.title}"></a>
                                        <a class="dropdown-item" href="dishes" th:text="#{common.dishes}"></a>
                                        <a class="dropdown-item" href="restaurants" th:text="#{common.restaurants}"></a>
                                        <a class="dropdown-item" href="voting" th:text="#{common.dailyMenu}"></a>
                                        <a class="dropdown-item" href="votes" th:text="#{common.votes}"></a>
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-info mr-1" href="profile"><span sec:authentication="principal.userTo.name"> </span><span th:text="' ' + #{app.profile}"></span></a>
                            <button class="btn btn-primary" type="submit">
                                <span class="fa fa-sign-out"></span>
                            </button>
                        </form>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <form class="form-inline my-2" id="login_form" action="spring_security_check" method="post" th:action="@{/spring_security_check}">
                            <input class="form-control mr-1" type="text" placeholder="Email" name="username">
                            <input class="form-control mr-1" type="password" placeholder="Password" name="password">
                            <button class="btn btn-success" type="submit">
                                <span class="fa fa-sign-in"></span>
                            </button>
                        </form>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link my-1 ml-2" data-toggle="dropdown" th:text="${#locale.language}"></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="" th:href="@{${request_uri}(lang=en)}">English</a>
                        <a class="dropdown-item" href="" th:href="@{${request_uri}(lang=ru)}">Русский</a>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</nav>
<!--
<script type="text/javascript">
    const localeCode = "${pageContext.response.locale}";
</script>-->
